body{
    background-image: url(img/laRoca.gif);
}

table,
td {
    border: 3px solid #333;
    background-color: rgb(78, 104, 124)
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

nav{
    background-color:#09bc8a;
    padding: 15px;
    
}
#notaInicial{
    font-size: 10px;
}

#SaleGracias{
    font-size: x-small;
    padding-top: 25%;
}
#atencion{
    width: 150px;
    float: left;
    display: inline;
}



#divAten{
    background-color: #e9cf87;
    padding-bottom: 9%;
    
}

#redBut{
    bottom: 2px;
    position: relative;
    top: 5px;
}

.cuerpoInterno{
    color: #172a3a;
    background-color: #74b3ce;
    margin-left:25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5% ;
    

}

.textVinvculo{
    background-color: #508991;
    color: #004346;
    font-weight:bold;
    font-style: normal;
    padding: 10px;
}


